.bolder{ font-weight: bold; margin-right: 10px; }
.dadosPaciente{ margin-left: 10px; }
.linhaProntuario{line-height: 30px; height: 30px; font-size: 16px; border-bottom: 1px solid #D5D5D5; }
.qtdSemPendencia{ color: #15A003; margin-left: 75px; }
#qtdNaoConferida{ color: red; margin-left: 75px; }
#qtdConferida{ margin-left: 75px;	 }
#tableConferencia{ margin-top: 20px; }
#avisoMateriais{ margin-left: 20px; }

.avisoQtdNaoConferida{
	color: red;
}

.avisoQtdNaoConferida > ul{
	list-style: none;
	width: 80%;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.avisoQtdNaoConferida > ul > li{
	line-height: 35px;
	border-bottom: 1px solid #B6B6B6;
}